  <header>
    <h1>Eat-A-Burger!!(kind of)</h1>
  </header>
  <div class="container">
    <div class="row">
      <!--begin new burger side-->
      <div class="col-sm-6">
        <div id="fresh-burger">
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-button">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}
        </div>
      <!--end new burger side-->
      <!--begin eaten burger column-->
      <div class="col-sm-6">
        <div id="already-eaten">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}
        </div>
      </div>
      <!--end eaten burger column-->
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <form action="">
            <div class="form-group">
              <label for="exampleInputBurger">Enter Burger Name Here!</label>
              <input type="burger" class="form-control">
            </div>
            <button type="submit" class="burgerNotEaten">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

